<!--<li><a href="{% url 'index' %}">1</a></li>-->
<!--<li><a href="{% url 'allproducts' %}">2</a></li>-->
<li><a href="{% url 'reception' %}">приемные зоны</a></li>
<li><a href="{% url 'kitchen' %}">обеденные зоны</a></li>
<li><a href="{% url 'arch' %}">системы хранения</a></li>
<li><a href="{% url 'special' %}">специализированная мебель</a></li>
<li><a href="{% url 'tables' %}">столешницы</a></li>
<li><a href="{% url 'decor' %}">декоративные элементы</a></li>
<li><a href="{% url 'living' %}">в жилые помещения</a></li>