<div class="l-workflow">

<div class="right-pics" >
        <div class="subpics">
                <ul>
                <li ng-repeat="list in pics" ng-click="selectSearchType(list)" style='background-image: url({{list.url}})'></li>
                </ul>        
        </div>
</div>

<div class="b-main-image" ng-switch on="searchType.type">
	<img src="img/all/1.jpg" ng-switch-default />
	<img src="img/all/2.jpg" ng-switch-when="title1" />
	<img src="img/all/3.jpg" ng-switch-when="title2" />
	<img src="img/all/4.jpg" ng-switch-when="title3" />
</div>

<div class="b-sub-cont">
	<table>
		<tr>
		<td>Творческий подход.<br /><span style="font-size: 40px;">Практично.</span></td>
			<td>
				<p>Когда мебель и пространство создаются <b>для конкретных клиентов</b>, не может существовать двух одинаковых проектов.
				Всё разное, всё настолько индивидуально, что даже проработка незначительных, на первый взгляд, деталей <b>меняет общую картину</b>,
				а работа превращается в <b>уникальные впечатления</b>.<hr />
				<span class="mobile-h">
				Присмотритесь, быть может, вы по-новому будете оценивать возможности серьёзной мебели. Ведь <b>именно мельчайшие нюансы выгодно отличают нашу мебель.</b></p>
				</span>
			</td>
		</tr>
	</table>
</div>

</div>
