{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block content %}
<div class="col-lg-8 col-md-6 col-sm-6 col-xs-10">
    <div id="preview" class="preview b-main"><img src="/media/arch/1.jpg"> </div>
</div>

<div class="col-lg-1 col-md-1 col-sm-2 hidden-xs" style="padding-left: 0; padding-right: 0; ">
    <div  id="slider3">
        <div class="thumbelina-but vert top">&#708;</div>
            <ul id="thumbnail" class="thumbnail b-main-image">
                <li> <a href="/media/all/1.jpg"><img src="/media/arch/slide1.jpg"></a></li>
                {% for first_page in first_pages %}
                    <li> <a href="/media/{{ first_page.image }}"><img src="/media/{{ first_page.mini_image }}"></a></li>
                {% endfor %}
            </ul>
        <div class="thumbelina-but vert bottom">&#709;</div>
    </div>
</div>
<div class="col-xs-10 visible-xs" style="padding-left: 0; padding-right: 0;">
    <div class="container-fluid">
        <div  id="slider2">
                <ul id="thumbnail2" class="thumbnail2 b-main-image">
                    {% for first_page in first_pages %}
                        <li> <a href="/media/{{ first_page.image }}"><img src="/media/{{ first_page.mini_image }}"></a></li>
                    {% endfor %}
                </ul>
        </div>
    </div>
</div>
<div class="col-lg-10 col-sm-8 col-md-10 hidden-xs">
    <div class="b-sub-cont">
        <table>
            <tr>
			<td>
				Архивная зона.<br />
				<span style="font-size: 40px;">Быстрый доступ.</span>
			</td>
			<td>
				<p><b>Архивы, кладовки, вспомогательные помещения</b> в офисном пространстве просто необходимы.
				Главной задачей мебели для таких помещений является <b>простота, надежность и практичность</b> использования.<hr />
				<span class="mobile-h">
				Для производства этой мебели практичным будет использование недорогих, но стойких к постоянной нагрузке
				материалов, к примеру ЛДСП, сталь, нержавейка. </p>
				</span>
			</td>
            </tr>
        </table>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-10 col-sm-8 col-md-10 visible-xs">
        <div class="b-sub-cont">
            <table>
                <tr>
					td>
				Архивная зона.<br />
				<span style="font-size: 40px;">Быстрый доступ.</span>
			</td>
			<td>
				<p><b>Архивы, кладовки, вспомогательные помещения</b> в офисном пространстве просто необходимы.
				Главной задачей мебели для таких помещений является <b>простота, надежность и практичность</b> использования.<hr />
				<span class="mobile-h">
				Для производства этой мебели практичным будет использование недорогих, но стойких к постоянной нагрузке
				материалов, к примеру ЛДСП, сталь, нержавейка. </p>
				</span>
			</td>
			</tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
