<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="FLK pro, мебельное производство">
        <title>FLK pro, мебельные системы</title>

        {% block css %}
        <link href="{% static 'img/favicon.ico' %]" rel="icon"/>

        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style/css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'style/css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'style/style.css' %}">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Include jQuery. -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>

        <!-- Include Thumbelina CSS. -->
<!--        <link rel="stylesheet" type="text/css" href="{% static 'css/thumbelina.css' %}" />-->

        <!-- Include Thumbelina script. -->

        <link rel="stylesheet" href="{% static '/js/thumbelina.js' %}" type="text/javascript" />


        {% endblock css %}
    </head>

    <body>
<!--            {% block mobile %}-->
<!--            <div class="mblogo"></div>-->
<!--            <div class="mobile">-->
<!--                    <ul>-->
<!--                            <li><h3><a href="tel:79150034883" class="phone-link">&#9990; +7 (915) 003-48-83</a></h3></li>-->
<!--                            <li><h3><a href="/mainapp/templates/mainapp/map.html">карта проезда</a></h3></li>-->
<!--                    </ul>-->
<!--            </div>-->
<!--            {% endblock mobile %}-->

            {% block menu %}
            <div class="l-menu">
                <div class="l-background"></div>
                <a href="#"><div class="b-logo"></div></a>
                <div class="b-sublogo">
                    <ul ng-repeat='item in menu'>
                        {% include 'mainapp/includes/inc_menu.html' %}
                    </ul>
                </div>
            </div>
            {% endblock menu %}

            <div class="container content">
        <div class="row">
             <div class="col-lg-3 col-sm-4">
                <ul class="hidden-xs mainMenu">
                    {% include 'mainapp/includes/inc_menu.html' %}
                </ul>

                <div class="col-lg-9 col-md-8 col-sm-8 ">
                {% block content %}

                {% endblock %}
                </div>

            </div>
        </div>

            {% block footer %}
            <div class="footer">
                <ul>
                        <li><a href="tel:79150034883" class="phone-link">+7 (915) 003-48-83</a></li>
                    <li><a href="map.html">карта проезда</a></li>
                </ul>
            </div>
            {% endblock footer %}

    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=hlZ9XEZpA1-3_5slBr2SCE7QUn_n5grl&id=mymap"></script>

        {% block js %}
            <script src="{% static 'js/angular.min.js' %}"></script>
            <script src="{% static 'js/ui-bootstrap-0.5.0.js '%}"></script>
            <script src="{% static 'js/angular-ui-router.min.js' %}"></script>
            <script src="{% static 'js/app.js' %}"></script>
        {% endblock js %}

    </body>
</html>
