{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
        <h2>Vertical Slider</h2>
        <div  id="slider3">
            <div class="thumbelina-but vert top">&#708;</div>
            <ul>
                <li><img src="images/image1.jpg"></li>
                <li><img src="images/image2.jpg"></li>
                <li><img src="images/image3.jpg"></li>
                <li><img src="images/image4.jpg"></li>
                <li><img src="images/image5.jpg"></li>
                <li><img src="images/image6.jpg"></li>
            </ul>
            <div class="thumbelina-but vert bottom">&#709;</div>
        </div>
{% endblock %}
