{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
        <li> <a href="/media/all/5.jpg"><img src="/media/all/slide1.jpg"></a></li>
        <li> <a href="/media/all/1.jpg"><img src="/media/all/slide1.jpg"></a></li>
        <li> <a href="/media/all/2.jpg"><img src="/media/all/slide2.jpg"></a></li>
        <li> <a href="/media/all/3.jpg"><img src="/media/all/slide3.jpg"></a></li>
        <li> <a href="/media/all/4.jpg"><img src="/media/all/slide4.jpg"></a></li>
{% endblock %}
