{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-lg-8 col-md-6 col-sm-6 col-xs-10">
    <div id="preview" class="preview b-main"><img src="/media/{{first_image.image}}"> </div>
</div>

<div class="col-lg-1 col-md-1 col-sm-2 hidden-xs" style="padding-left: 0; padding-right: 0; ">
    <div  id="slider3">
        <div class="thumbelina-but vert top">&#708;</div>
            <ul id="thumbnail" class="thumbnail b-main-image">
                {% for first_page in first_pages %}
                    <li> <a href="/media/{{ first_page.image }}"><img src="/media/{{ first_page.mini_image }}"></a></li>
                {% endfor %}
            </ul>
        <div class="thumbelina-but vert bottom">&#709;</div>
    </div>
</div>
<div class="col-xs-10 visible-xs" style="padding-left: 0; padding-right: 0;">
    <div class="container-fluid">
        <div  id="slider2">
                <ul id="thumbnail2" class="thumbnail2 b-main-image">
                    {% for first_page in first_pages %}
                        <li> <a href="/media/{{ first_page.image }}"><img src="/media/{{ first_page.mini_image }}"></a></li>
                    {% endfor %}
                </ul>
        </div>
    </div>
</div>
<div class="col-lg-10 col-sm-8 col-md-10 hidden-xs">
    <div class="b-sub-cont">
        <table>
            <tr>
                <td>
				Обеденная зона.<br />
				<span style="font-size: 40px;">Кухни.</span>
			</td>
			<td>
				<p>Каждое из офисных помещений всегда предусматривает <b>отдельное пространство</b> для размещения обеденной
				зоны, будь то совсем маленький coffee point, или отдельная кухонная зона.<hr/>
				<span class="mobile-h">
				Мы предложим вам <b>удобное
				размещение</b> мебели и встраиваемого оборудования, используя подходящую комбинацию используемых
				материалов и сочетание корпоративных оттенков вашей фирмы. </p>
				</span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-lg-10 col-sm-8 col-md-10 visible-xs">
    <div class="b-sub-cont">
        <table>
                <tr>Обеденная зона.<br /><span style="font-size: 40px;">Кухни.</span></tr>
                <tr>
                    <p>Каждое из офисных помещений всегда предусматривает <b>отдельное пространство</b> для размещения обеденной
						зоны, будь то совсем маленький coffee point, или отдельная кухонная зона.<hr/>
						Мы предложим вам <b>удобное
						размещение</b> мебели и встраиваемого оборудования, используя подходящую комбинацию используемых
						материалов и сочетание корпоративных оттенков вашей фирмы.
					</p>
                 </tr>
        </table>
    </div>
</div>


{% endblock %}