{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-lg-8 col-md-6 col-sm-6 col-xs-10">
    <div id="preview" class="preview b-main"><img src="/media/{{first_image.image}}"> </div>
</div>

<div class="col-lg-1 col-md-1 col-sm-2 hidden-xs" style="padding-left: 0; padding-right: 0; ">
    <div  id="slider3">
        <div class="thumbelina-but vert top">&#708;</div>
            <ul id="thumbnail" class="thumbnail b-main-image">
                {% for first_page in first_pages %}
                    <li> <a href="/media/{{ first_page.image }}"><img src="/media/{{ first_page.mini_image }}"></a></li>
                {% endfor %}
            </ul>
        <div class="thumbelina-but vert bottom">&#709;</div>
    </div>
</div>
<div class="col-xs-10 visible-xs" style="padding-left: 0; padding-right: 0;">
    <div class="container-fluid">
        <div  id="slider2">
                <ul id="thumbnail2" class="thumbnail2 b-main-image">
                    {% for first_page in first_pages %}
                        <li> <a href="/media/{{ first_page.image }}"><img src="/media/{{ first_page.mini_image }}"></a></li>
                    {% endfor %}
                </ul>
        </div>
    </div>
</div>
<div class="col-lg-10 col-sm-8 col-md-10 hidden-xs">
    <div class="b-sub-cont">
        <table>
            <tr>
                <td>
				Мебель. Быт. Настроение.<br />
				<span style="font-size: 40px;">Жилые помещения.</span>
			</td>
			<td>
				<p>Жизненное пространство — самое важное для людей. Не важно, просто мы живем в квартире, или же работаем. Поэтому вещи должны быть полезными.<br />
				        Поэтому создание мебели, предметов интерьера, декора для дома — часть нашей работы.</p>
			</td>
            </tr>
        </table>
    </div>
</div>
</div>
<div class="col-lg-10 col-sm-8 col-md-10 visible-xs">
    <div class="b-sub-cont">
        <table>
                <tr>Мебель. Быт. Настроение.<br /><span style="font-size: 40px;">Жилые помещения.</span></tr>
                <tr>
                    <p>Жизненное пространство — самое важное для людей. Не важно, просто мы живем в квартире, или же работаем. Поэтому вещи должны быть полезными.<br />
				        Поэтому создание мебели, предметов интерьера, декора для дома — часть нашей работы.</p>
                 </tr>
        </table>
    </div>
</div>

{% endblock %}