{% extends 'mainapp/base.html' %}
{% load static %}
{% include 'mainapp/includes/inc_menu.html' %}

<html ng-app='app'><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="description" content="FLK pro, мебельное производство">
        <meta name="author" content="npobs.ru">
        <meta name="author" content="MS">
        <title>FLK pro, мебельные системы</title>
        
        <link href="img/favicon.ico" rel="icon" type="image/x-icon" />
        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=PVeQxLHhoyIsYyxAqlUvue8ztjQeRjcw&id=mymap"></script>
        
</head><body>
        <div class="map" id="mymap" style="position:absolute;left:0;top:0;right:0;bottom:0;"></div>
</body></html>

