<div class="l-workflow">
	<div class="b-header">
		<a href="#/route1"><b>продукт</b></a>
		<a href="#/route2">заказ</a>
	</div>

	<div class="right-pics"><ul>
		<li ng-repeat="list in pics" ng-click="selectSearchType(list)" style='background-image: url({{list.url}})'></li>
	</ul></div>

	<div class="b-main-image" ng-switch on="searchType.type" ng-animate=" 'animate' ">
		<img src="img/kitchen.jpg" ng-switch-default />
		<img src="img/baker_big.jpg" ng-switch-when="title1" />
		<img src="img/continental_big.jpg" ng-switch-when="title2" />
		<img src="img/covidien_big.jpg" ng-switch-when="title3" />
	</div>

	<div class="b-sub-cont">
		<div class="b-move-left">&#8918;</div>
		<table>
			<tr>
			<td>
				Разработка.<br />
				<span style="font-size: 40px;">Только индивидуально.</span>
			</td>
			<td>
				<p>Процесс создания комфортной, рабочей обстановки в любом помещении — это вопрос о размещении специальных зон, не только связанных с размещением пространства сотрудника.</p>
				<p>Дизайн мебели этих помещений исключительно индивидуальный и зависит от сферы деятельности компании.</p>
			</td>
			</tr>
		</table>
		<div class="b-move-right">&#8919;</div>
	</div>
</div>
