<div class="b-sub-cont">
		<table>
			<tr>
			<td>
				Приёмные.<br />
				<span style="font-size: 40px;">Практичные решения.</span>
			</td>
			<td>
				<p>Именно прихожая зона создает <b>первое впечатление</b> о вашем офисе.<br /><br />
			        <span class="mobile-h">
				Наши возможноcти позволяют разработать конструктив, изготовить стойку и окружающие её
				детали интерьера, с использованием комбинирования искусственного и натурального камня, разнообразных цветов
				ламината, окраски любого оттенка, стекла, нержавейки, алюминия и т.д.</p>
				</span>
			</td>
			</tr>
		</table>
<!--		<div class="b-move-right">&#8919;</div> -->
	</div>