
body {
    margin: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbeef2+0,8fc9d4+100 */
    background-color: white;
}

.col-lg-2 .col-lg-8 .col-lg-1 .col-md-1 .col-md-8 .col-sm-2 .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}
.header {
    height: 80px;
    background-size: cover;
}

.navbar-brand.xsLogo {
    font-size: 20px;
    font-family: "Raleway Black", sans-serif;
    text-transform: uppercase;
    color: black;
    background: url(/static/img/logo.png) no-repeat 15px center;
    background-size: 15%;
    padding-left: 55px;
}

.navbar-brand.xsLogo:hover {
    color: black;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

.xsNavBar {
    border: none;
    z-index: 1;
    margin: 0 -15px;
}

@media (max-width: 767px) {
    .header {
        height: 70px;
    }
}

.header .container {
    position: relative;
}
.container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.preview {
    width: 700px;
    background-color: white;
    margin: 0 auto;
}
.preview img {
    width: 700px;
}
.b-sub-cont {
    display: block;
    position: absolute;
    top: 393px;
    left: 15px;
    width: 700px;
  }


.thumbnail {
    display: block;
    position: relative;
}

.thumbnail li,
.thumbnail li img {
    list-style-type: none;
    padding: 0;
    margin: 5px auto;
}

#slider3 {
    float: left;
    margin-top: 20px;
    /* border-left: 1px solid #aaa; */
    /* border-right: 1px solid #aaa; */
    position: absolute;
    background-color: #fff;
    top: 0;
    right: -90px;
    height: 327px;
    width: 120px;
    padding: 0 0 15px;
}


.b-main-image li a {
    width: 636px;
    height: auto;

  }
.b-main {
    position: absolute;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}

.content {
    margin-top: 0;
}

.b-sub-cont {
  position: absolute;
  table-layout: fixed;
  font-family: 'PT Sans', sans-serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.b-sub-cont table {
  width: 100%;
}
.b-sub-cont td:first-child {
  color: #e27e0c;
  font-family: 'PT Serif', serif;
  width: 50%;
  line-height: 180%;
}
.b-sub-cont tr td {
  vertical-align: top;
  line-height: 130%;
  color: #5b5b5b;
}
.b-sub-cont a {
  background-color: #f38f1d;
  padding: 10px;
  margin-top: 5px;
  color: white;
  display: inline-block;
  border: 1px solid #f38f1d;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.b-sub-cont a:hover {
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-color: #e27e0c;
  border: 1px solid #9e3a00;
}
.b-sub-cont b {
  font-weight: 400;
  color: black;
  text-shadow: 0px 3px 2px silver;
  font-size: 1.1em;
}
@media (max-width: 767px) {
    .content {
        margin-top: 0;
    }
}
.b-logo {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 127px;
    padding-right: 30px;
}
.b-sublogo {
  position: relative;
  opacity: 0.2;
  cursor: pointer;
  color: black;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  font-family: 'PT Sans', sans-serif;
}
.b-sublogo:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.b-sublogo li {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.b-sublogo li ul {
  padding-top: 10px;
}
.b-sublogo li:hover {
  color: #f38f1d;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.b-sublogo a {
  color: black;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.b-sublogo a:hover {
  color: #f38f1d;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  text-shadow: 0px 5px 3px silver;
}
.mainMenu {
    background: rgb(205,235,142); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(205,235,142,1) 54%, rgba(165,201,86,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(205,235,142,1) 54%,rgba(165,201,86,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(205,235,142,1) 54%,rgba(165,201,86,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainMenu li {
    height: 43px;
    width: 100%;
}

.mainMenu li:first-child {
    height: 66px;
    background: #333;
}

.mainMenu li:first-child a {
    color: #fff;
    line-height: 66px;
}

.mainMenu li a {
    display: block;
    height: inherit;
    text-transform: uppercase;
    font-family: "Roboto Black", sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    padding: 0 40px;
    box-sizing: border-box;
    line-height: 43px;
}

.mainMenu li a:hover {
    background-color: #333;
    color: #fff;
}

.containerText {
    font-family: "Raleway Bold Italic", sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 24px;
    color: #333;
    text-align: justify;
    background-color: white; 
    box-sizing: border-box;
    padding: 5px 10px; 
}

.footer {
    bottom: 0;
    left: 50%;
    width: 120px;
    height: 40px;
    margin-left: -500px;
  }

@media (min-width: 960px) and (max-width: 1199px) {
    .b-sublogo {
        left: -17px;
    }

    .preview {
        width: 630px;
    }

    .preview img {
        width: 630px;
    }
    #slider3 {
        right: -184px;
        height: 298px;
    }
}
@media (min-width: 1200px) and (max-width: 1439px) {
    #slider3 {
        right: 61px;
        height: 333px;
    }
}

@media (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
    #slider3 {
        right: 61px;
        height: 333px;
    }
    .footer {
        min-height: 80px;
        background-color: #373737;
        color: white;
        text-align: justify;
        margin-top: 80px;
    }
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media (min-width: 768px) and (max-width: 1023px){
   /* default iPad screens */
    .b-main-image li a {
        width: 467px;
    }
    .preview {
        width: 467px;
        background-color: white;
        margin: 0 auto;
    }
    .preview img {
        width: 467px;
    }
    .b-sublogo{
        padding-left: 0;
    }
    #slider3 {
        float: left;
        margin-top: 20px;
        /* border-left: 1px solid #aaa; */
        /* border-right: 1px solid #aaa; */
        position: absolute;
        background-color: #fff;
        top: 0;
        right: -67px;
        height: 209px;
        width: 103px;
        padding: 0 0 15px;
    }
    .thumbelina-but.vert {
        left: -1px;
        height: 20px;
        line-height: 20px;
        width: 104px;
    }
    .b-sub-cont {
        display: block;
        position: absolute;
        top: 284px;
        left: 15px;
        width: 579px;
    }
    .body {
        font-size: 13px;
    }
}
